.contact {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: #1EC9E8;
    width: 100%;
}
.contact .container {
    text-align: center;
}
.contact h1 {
    padding: 10px;
}
.contact .inputs {
    width: 95%;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    outline: none;
}
.contact button {
    font-size: 1.5rem;
}
.contact button:hover {
    background-color: #004156;
}
.contact img {
    width: 100%;
    height: auto;
}
.contact .colomns {
    text-align: center;
}
.contact .row {
    padding: 2rem;
}